.policy-card {
  width: 100%;
  min-width: 280px;
  height: 70%;
  min-height: 280px;
  margin: auto;
  font-weight: unset !important;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-flow: column nowrap;

}

.text-container {
  overflow-y: scroll;
}