.scrollable {
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
    .mat-card-title-group {
      display: block;
    }
  
    .mat-card-content {
      overflow-y: auto;
    }
  