<mat-card >
    <mat-card-title>
        {{diet.name}}
    </mat-card-title>
    <img mat-card-image src="../../../assets/medina-catering-AdtqezIqv7c-unsplash.jpg" width="50" height="300">
    <mat-card-content >
        {{diet.description}}
        <mat-accordion>  
          <mat-expansion-panel> 
          <mat-expansion-panel-header>
              <mat-panel-title>
             Dostępne wersje kaloryczne:
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list role="list" dense *ngFor="let caloricVersion of diet.caloricVersions">
                  <mat-list-item role="listitem">{{caloricVersion}}</mat-list-item>
                </mat-list>
          </mat-expansion-panel>
        </mat-accordion>      
    </mat-card-content>
    <mat-card-footer>
        Cena za jeden dzień: {{diet.price}}
    </mat-card-footer>
    <mat-card-actions>
        <button mat-raised-button *ngIf="adminView" (click)="changeStatus()">{{diet.published ? 'Wycofaj dietę' : 'Publikuj dietę'}}</button>
        <button mat-raised-button *ngIf="adminView && !diet.published" (click)="delete(diet.id)">usuń</button>
       </mat-card-actions>
</mat-card>

<p-confirmDialog header="Potwierdź"></p-confirmDialog>