<p-toast [style]="{marginTop: '80px'}"></p-toast>

<mat-card-title><h2>Kreator diety</h2></mat-card-title>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="basicDietInfo">
    <form [formGroup]="basicDietInfo">
        <ng-template matStepLabel>Podstawowe informacje</ng-template>
        <table cellspacing="0">
        <tr>
            <td><mat-form-field  appearance="outline">
                <mat-label>Nazwa</mat-label>
                <input matInput formControlName="name"  [(ngModel)]="dietToCreate.name" required>
            </mat-form-field></td>
           <td><mat-form-field  appearance="outline">
                <mat-label>Cena tygodniowa</mat-label>  
                <input matInput formControlName="price" class="input-right-align full-width"
                       [(ngModel)]="dietToCreate.price">
                <span matSuffix>.00 zł</span>
            </mat-form-field></td>
        </tr>
        <tr>
        <td colspan="2"><mat-form-field  appearance="outline" class="full-width">
            <mat-label>Krótki opis</mat-label>  
            <textarea matTextareaAutosize  matAutosizeMinRows=2 matInput  formControlName="description"  [(ngModel)]="dietToCreate.description"
                      required></textarea>
        </mat-form-field></td>
        </tr>
        <tr>
            <button mat-raised-button matStepperNext>Dalej</button>
        </tr>

    </table>    
    </form>
  </mat-step>
  <mat-step [stepControl]="dietDetails">
        <ng-template matStepLabel>Szczegóły diety</ng-template>
        <table width="100%" cellspacing="0">
          <tr>
              <td>Dostępne wersje kaloryczne:</td>
              <td >Etykiety:</td>
          </tr>
          <tr>
            <td>
               <mat-form-field class="input-width">
                   <mat-chip-list #chipList aria-label="Wersje kaloryczne">
                     <mat-chip
                       *ngFor="let caloricVersion of caloricVersionsList"
                       [selectable]="selectable"
                       [removable]="removable"
                       (removed)="remove(caloricVersion)">
                       {{caloricVersion}}
                       <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                     </mat-chip>
                     <input matInput               
                       #caloricVersionInput
                       [formControl]="caloricVersionsCtrl"
                       [matAutocomplete]="auto"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="add($event)">
                   </mat-chip-list>
                   <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                     <mat-option *ngFor="let caloricVersion of filteredCaloricVersions | async" [value]="caloricVersion">
                       {{caloricVersion}}
                     </mat-option>
                   </mat-autocomplete>
                 </mat-form-field>     
            </td>
            <td >  
              <div *ngFor="let label of labels">  
              <mat-checkbox class="checkbox-class" [(ngModel)]="label.checked"  [ngModelOptions]="{standalone: true}">{{label.name}}</mat-checkbox>
              </div>
            </td>

          </tr>
          <tr>
              <button mat-raised-button matStepperPrevious>Wróć</button>
              <button mat-raised-button matStepperNext>Dalej</button>
          </tr> 
        </table>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Dane dietetyka</ng-template>
    <table>
      <tr>Wybierz dietetyka odpowiedzialnego za dietę: </tr>
      <tr>
        <mat-form-field>
         
          <mat-select [(value)]="dietToCreate.dietitian">
            <mat-option *ngFor="let dietitian of dietitians" [value]="dietitian.username" >
              {{dietitian.username}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr> </tr>
      <tr class="spaceUnder">
          <td colspan="6">
            <button mat-raised-button matStepperPrevious>Wróć</button>
            <button mat-raised-button matStepperNext>Dalej</button>
          </td>
      </tr>   
    </table>
    </mat-step>
  <mat-step>
  <ng-template matStepLabel>Zdjęcie</ng-template>
  <table>
    <tr>
      <p-fileUpload  name="myFile[]" url="./upload.php"  accept="image/*" 
          maxFileSize="2000005" chooseLabel="Wybierz zdjęcie" [auto]="true" 
          customUpload="true" (uploadHandler)="myUploader($event)">
      </p-fileUpload>    
    </tr>
    <tr> </tr>
    <tr class="spaceUnder">
        <td colspan="6">
          <button mat-raised-button matStepperPrevious>Wróć</button>
          <button mat-raised-button (click)="createDiet()">Zapisz</button>
          <button mat-raised-button (click)="stepper.reset()">Zacznij od nowa</button>
        </td>
    </tr>   
  </table>
  </mat-step>
</mat-horizontal-stepper>