
td {
  padding-right: 10px;
}

tr.spaceUnder>td {
  padding-top: 15px;
}

tr{
  margin: 20px;;
}

.input-width{
  width: 80%;
}

.input-right-align {
    text-align: right;
  }

  .checkbox-class{
    margin: 0 10px;
  }

  