<div class='row'>
    <div class="col-3"></div>
    <div class="col-sm">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{user.username}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="isEditModeEnabled(); then editionMode else viewMode"></div>
        <ng-template #editionMode>     
            edycja
        </ng-template>
        <ng-template #viewMode>     
            Imię: {{user.firstName}} Nazwisko: {{user.lastName}}
        </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="isEditModeDisabled()" (click)="enableEditMode()">Edytuj profil</button>
      <button mat-button *ngIf="isEditModeEnabled()" (click)="disableEditMode()">Zapisz dane</button>
    </mat-card-actions>
  </mat-card>
<div class="col-3"></div>
  </div>
  </div>



