<div *ngIf="isEditModeEnabled(); then editionMode else viewMode"></div>

<div class="container">
    <div class="row my-2">
        <div class="col-lg-8 order-lg-2">
          <h2>Profil użytkownika {{profileOwner.username}}</h2>
          <mat-divider></mat-divider>
           <table cellspacing="0" *ngIf="isEditModeDisabled()">
            <tr class="spaceUnder">
              <td colspan="2"><b>Imię:</b> {{profileOwner.firstName}}</td>
              <td colspn="2"><b>Nazwisko:</b> {{profileOwner.lastName}}</td>
            </tr>
            <tr class="spaceUnder">
              <td colspan="4"><b>Numer telefonu:</b> {{profileOwner.phoneNumber}}</td>
            </tr> 
            <tr class="spaceUnder">
              <td colspan="4"><b>Adres email:</b> {{profileOwner.email}}</td>
            </tr>
            <tr class="spaceUnder">
              <td colspan="1"><b>Adres:</b> 
                 {{profileOwner.address.street}} {{profileOwner.address.houseNumber}}</td>
              <td colspan="3">{{profileOwner.address.zipCode}} {{profileOwner.address.city}}</td>
            </tr>
          </table>     
          <div class="container" *ngIf="isEditModeEnabled();">
            <div class="row row-details">
              <div class="col-sm">       
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput placeholder="Jan" enabled=false aria-label="Imię:"  required>
                </mat-form-field>
              </div>
              <div class="col-sm">
                <mat-form-field class="example-full-width" appearance="outline">
                   <input matInput placeholder="Kowalski"   required>
                </mat-form-field>
              </div>
            </div>
            <div class="row row-details">
              <div class="col-sm">ENumer telefonu: 123456789</div>
              <div class="col-sm">WAdres email: janek@mail.com</div>
            </div> 
            <div class="row">
              <div class="col-sm">EAdres: ul.Funny 123 </div>
            </div> 
            <div class="row">
              <div class="col-sm">E12-345 New York</div>
            </div>
          </div>
        </div>    
        <div class="col-lg-4 order-lg-1 text-center">
          <img src="../../assets/user.png">
          <p><button mat-raised-button (click)="changePasswordDialog()">zmień hasło</button></p>
          <p><button mat-raised-button *ngIf="isEditModeDisabled()" (click)="enableEditMode()">Edytuj profil</button>
             <button mat-raised-button *ngIf="isEditModeEnabled()" (click)="disableEditMode()">Zapisz dane</button></p>
        </div>
    </div>
</div>
