<mat-card-title><h3>Nowy przepis</h3></mat-card-title>

<table cellspacing="0">
  <tr class="full-width"><td colspan="5"><mat-form-field  appearance="outline">
        <mat-label>Nazwa</mat-label>
        <input class="full-width" matInput required [(ngModel)]="recipeToCreate.name">
      </mat-form-field></td>
  </tr>
  <tr> 
      <td *ngFor="let mealType of mealTypes" >
          <mat-checkbox [(ngModel)]="mealType.chosen" >{{mealType.name}}</mat-checkbox>
      </td>
  </tr>

  <tr><h5>Składniki:</h5></tr>
  <tr class="spaceUnder"> 
       <button mat-button (click)="addIngredient()"   
       [disabled]="ingredientsCounter > 100">
         <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-button  (click)="removeIngredient()" 
       [disabled]="ingredientsCounter < 2 ">
         <mat-icon>remove_circle</mat-icon>
       </button>
  </tr>
</table>
<table cellspacing="0" class ="full-width">
<div class="p-grid full-width">
  <div *ngFor="let recipeIngredient of recipeIngredients; let i=index" [@animation]="'visible'">  
        <tr width="100%" class="spaceUnder full-width">
        <td width="70%">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Składnik</mat-label>
            <input class="full-width" type="text" matInput [formControl]="myControl" 
                    [matAutocomplete]="auto">
            <mat-autocomplete (optionSelected)="ingredientSelected(i, $event.option.value)"
                             #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
                {{ingredient.name}} {{ingredient.caloricValue | number: '1.2-2'}}kcal/100g
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <td width="30%">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ilość</mat-label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="recipeIngredient.value"
                     matInput>
            <span matSuffix>g</span> 
          </mat-form-field>
        </td>
        </tr>
          
  </div>
</div>
</table>
          
<table cellspacing="0" class="full-width">    
  <tr><h5>Sposób przygotowania:</h5></tr>
  <tr class="spaceUnder"> 
    <button mat-button (click)="addRecipeStep()"   
    [disabled]="recipeSteps.length > 100">
      <mat-icon>add_circle</mat-icon>
   </button>

    <button mat-button  (click)="removeRecipeStep()" 
    [disabled]="recipeSteps.length < 2 ">
      <mat-icon>remove_circle</mat-icon>
    </button>
 </tr>
      <div *ngFor="let recipeStep of recipeSteps;let i=index" class="full-width" [@animation]="'visible'">
       <tr> <h4>Krok {{recipeStep.stepNumber}}</h4></tr>        
        <tr class="full-width">
          <mat-form-field class="full-width"  appearance="outline">
          <mat-label>Opis</mat-label>
          <textarea matTextareaAutosize  matAutosizeMinRows=3 matAutosizeMinCols=5 matInput   
              [(ngModel)]="recipeStep.description" required></textarea>
      </mat-form-field>
     </tr>
  
    </div>   
</table>

<table cellspacing="0">
  <tr>
    <td *ngFor="let label of labels">
      <mat-checkbox [(ngModel)]="label.checked">{{label.name}}</mat-checkbox>
    </td>
  </tr>
</table>

<mat-card-actions>
  <button mat-raised-button (click)="save()" >Zapisz</button>
</mat-card-actions>