<mat-card-title><h3>Nowy przepis</h3></mat-card-title>
<table cellspacing="0">
    <tr><mat-form-field  appearance="outline">
        <mat-label>Nazwa</mat-label>
      <input class="full-width" matInput required [(ngModel)]="recipeToCreate.name">
    </mat-form-field></tr>

    <tr> 
        <td *ngFor="let mealType of availableMealTypes" width="20%">
            <mat-checkbox [(ngModel)]="mealType.chosen" >{{mealType.name}}</mat-checkbox>
        </td>
    </tr>

    <tr><h5>Składniki:</h5></tr>
        <button mat-raised-button class="button-color" (click)="addIngredient()"   
         [disabled]="ingredientsCounter > 100" style="margin-right: .5em">+</button>
        <button mat-raised-button class="button-color" (click)="removeIngredient()" 
         [disabled]="ingredientsCounter < 2 ">-</button>

        <div class="p-grid p-dir-col" style="margin-top: .5em">
            <div class="p-col" *ngFor="let recipeIngredient of recipeIngredients" [@animation]="'visible'">
              <form >
                <mat-form-field class="full-width">
                  <input type="text" aria-label="Ingredient" matInput [formControl]="myControl" [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient.name">
                      {{ingredient.name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
            </div>
        </div>
    <tr><h5>Sposób przygotowania:</h5></tr>
  <tr>  
   </tr> 
</table>