<mat-toolbar color="basic">
  <mat-toolbar-row>  
    <button (click)="navigate('/home')"  mat-mini-fab color="primary" >
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <div  *ngIf="isLogged()"> 
      <button color="primary" mat-button [matMenuTriggerFor]="menuClient" class="button-color" mat-raised-button  
              matTooltip="menu klienta" *ngIf="hasRole('ROLE_CLIENT')">
              <mat-icon>menu_open</mat-icon> klient
      </button>
      <mat-menu #menuClient="matMenu">
        <button (click)="navigate('/client/order')"  mat-menu-item>Złóż zamówienie</button>
        <button (click)="navigate('/client/order-list')"  mat-menu-item>Przeglądaj swoje zamówienia</button>
        <button (click)="navigate('/client/menu-list')"  mat-menu-item>Przeglądaj menu</button>
      </mat-menu>
      <button color="primary" mat-button [matMenuTriggerFor]="menuDietitian" class="button-color" mat-raised-button
              matTooltip="menu dietetyka" *ngIf="hasRole('ROLE_DIETITIAN')"> 
              <mat-icon>menu_open</mat-icon> dietetyk
      </button>
      <mat-menu #menuDietitian="matMenu">
        <button mat-menu-item (click)="navigate('/dietitian/create-menu')">Kreator menu</button>
        <button (click)="navigate('/dietitian/recipe-list')" mat-menu-item>Zarządzaj przepisami</button>
       <!-- <button mat-menu-item>Przeglądaj swoje manu</button>--> 
      </mat-menu>
      <button color="primary" mat-button [matMenuTriggerFor]="menuAdmin" class="button-color" mat-raised-button 
              matTooltip="menu administratora"  *ngIf="hasRole('ROLE_ADMIN')"> 
                <mat-icon>menu_open</mat-icon> administrator
      </button>
      <mat-menu #menuAdmin="matMenu">
        <button (click)="navigate('/admin/user-list')"  mat-menu-item>Zarządzaj użytkownikami</button>
        <button (click)="navigate('/admin/manage-diet')"   mat-menu-item>Zarządzaj typami diet</button>
        <button (click)="navigate('/admin/create-diet')"   mat-menu-item>Utwórz nową dietę</button>
      </mat-menu>  
      <button color="primary" (click)="navigate('/user-details')" mat-mini-fab >
        <mat-icon>person</mat-icon>    
      </button>      
      <button color="primary" mat-mini-fab (click)="logOut()">
        <mat-icon>power_settings_new</mat-icon>    
      </button>
    </div>
  <div *ngIf="!isLogged()">
      <button color="primary" (click)="navigate('/register')"  mat-raised-button class=" button-color" >Zarejestruj się</button>
      <button  color="primary"(click)="navigate('/login')"  mat-raised-button class=" button-color">Zaloguj się</button> 
  </div>

</mat-toolbar-row>
</mat-toolbar>
