.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
   vertical-align: middle;
  }
  
  .example-full-width {
    width: 100%;
    vertical-align: middle;
  }

  .card-layout{
    align-items: center;
    width: 100%;
    align-self: center;
  }