<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h2>Zmiana hasła</h2>
    </div>
    <div class="col-sm"></div>    
</div>
<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <form   class="example-form">             
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Hasło"  required [(ngModel)]="password"  [ngModelOptions]="{standalone: true}"
       [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Hasło"  required [(ngModel)]="repeatedPassword"  [ngModelOptions]="{standalone: true}"
       [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
      </mat-form-field> 
    </form>
    <button mat-raised-button class="button-color" (click)="changePassword()"> Zmień hasło</button>
  </div>
  <div class="col-sm"></div>
</div>