<div class="row"> 

</div>
<div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="container">
            <mat-card class="card-layout"> 

                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                      <h2>Zmiana hasła</h2>
                    </div>
                    <div class="col-sm"></div>    
                </div>
                <div class="row">
                  <div class="col-sm"></div>
                  <div class="col-sm">
                    <form   class="example-form">             
                      <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Hasło"  required [(ngModel)]="model.password"  
                       [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Hasło"  required [(ngModel)]="model.repeatedPassword"  
                       [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                      </mat-form-field>
                    </form>
                    <button mat-button (click)="changePassword()"> Zmień hasło</button>
                  </div>
                  <div class="col-sm"></div>
                </div> 
      
            </mat-card></div>   </div>
        <div class="col-sm"></div>
</div>