
<mat-card>
    <mat-card-title>Użytkownicy</mat-card-title>
    <a mat-button href="admin/add-user" >Dodaj nowego użytkownika</a>

    <div class="row">
      <div class="col-sm">
        <mat-form-field class="example-full-width">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
        </mat-form-field>
      </div>
      <div class="col-sm ">
        <mat-checkbox class="my-checkbox" (change)="onCheckboxChange($event)" [(ngModel)]="showClients">Klienci</mat-checkbox>
        <mat-checkbox class="my-checkbox" (change)="onCheckboxChange($event)" [(ngModel)]="showDietitians">Dietetycy</mat-checkbox>
        <mat-checkbox class="my-checkbox" (change)="onCheckboxChange($event)" [(ngModel)]="showAdmins">Administratorzy</mat-checkbox>
      </div>
    </div>

  
    <div class="mat-elevation-z8">
      <table mat-table class="full-width-table" [dataSource]="dataSource"
       matSort multiTemplateDataRows >    
         <!--  <ng-container matColumnDef="startDateTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa użytkownika </th>
            <td mat-cell *matCellDef="let element"> {{element.startDateTime | date: 'y-MM-d'}} </td>
        </ng-container>
    -->

    <ng-container matColumnDef="{{column.name}}" *ngFor="let column of columnsToDisplayMap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.display}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
      </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          
           Adres:  {{element.address.street}} {{element.address.houseNumber}}
              {{element.address.zipCode}}  {{element.address.city}} 
          </div>
        </td>
      </ng-container>

  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

     <!-- 
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
          <i *ngSwitchCase="0" class="material-icons" id="status-open" matTooltip="Otwarte">
              new_releases</i>
          <i *ngSwitchCase="1" class="material-icons" id="status-progress" matTooltip="W trakcie">
              schedule</i>
          <i *ngSwitchCase="2" class="material-icons" id="status-canceled"  matTooltip="Anulowane">
               cancel</i>
          <i *ngSwitchCase="3" class="material-icons" id="status-finished" matTooltip="Zakończone">
              check_circle_outline </i>
        </td>
        </ng-container>
       -->
        

                
  
       
      </table>
  
      <mat-paginator #paginator
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[ 5, 10, 20, 50]">
      </mat-paginator>
    </div>  
  </mat-card>