<div class="row">
<div class="col-3"></div>
<div class="col">
  <mat-card >  
      <mat-card-header class="card-layout">

          <mat-card-title>Zarejestruj się!</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-layout">
        <form [formGroup]="personalDetailsGroup">
      <div class="row">
      <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Nazwa użytkownika" required [(ngModel)]="model.username" formControlName="userName">
      </mat-form-field>
      
      </div>
      <div class="row div-class" >
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Hasło"  required [(ngModel)]="model.password" 
          formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint>Hasło powinno zawierać minimum 7 znaków</mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <input matInput placeholder="Powtórz hasło"  required [(ngModel)]="reapetedPassword" 
            formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
          </mat-form-field>
        </div>
        <div class="row">
        <mat-form-field  appearance="outline">
            <input matInput placeholder="Imię" required [(ngModel)]="model.firstName" 
            formControlName="firstName" >
          </mat-form-field>
          <div class="col-1"></div>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nazwisko" required [(ngModel)]="model.lastName" 
             formControlName="lastName">
        </mat-form-field> 
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="outline" >
            <input matInput placeholder="Email" required [(ngModel)]="model.email" 
            formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="personalDetailsGroup.controls['email'].hasError('email')">
              Niepoprawny format!
            </mat-error>

        </mat-form-field>
        </div> 
        <div class="row">
            <mat-form-field class="example-full-width"  appearance="outline">
              <input matInput placeholder="Numer telefonu" required [(ngModel)]="model.phoneNumber" 
              formControlName="phoneNumber">
              <mat-icon matSuffix>phone</mat-icon>

          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput placeholder="ulica" required [(ngModel)]="model.address.street" 
               formControlName="street">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput placeholder="miasto" required [(ngModel)]="model.address.city" 
               formControlName="city">
               <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="example-full-width"  appearance="outline">
              <input matInput placeholder="kod pocztowy" required [(ngModel)]="model.address.zipCode" 
              formControlName="zipCode">
          </mat-form-field>
        </div>

    </form>
  </mat-card-content>
    <mat-card-actions class="card-layout">
    <div>
      <button mat-raised-button color="basic" (click)="register()"> Zarejestruj</button>
    </div>
</mat-card-actions>
    </mat-card>
</div>
<div class="col-3"></div>
</div>

