<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <h2>Zaloguj się</h2>
    </div>
    <div class="col-sm"></div>    
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <form   class="example-form">
        <mat-form-field class="example-full-width" appearance="outline" >
          <input matInput placeholder="Nazwa" required [(ngModel)]="model.username" 
                 [ngModelOptions]="{standalone: true}">
        </mat-form-field> 
        <mat-form-field class="example-full-width" appearance="outline">
          <input matInput placeholder="Hasło"  required [(ngModel)]="model.password"  (keydown.enter)="login()"
                 [type]="hide ? 'password' : 'text'" [ngModelOptions]="{standalone: true}">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <button mat-raised-button class="button-color" (click)="login()"> Zaloguj</button>
    </div>
    <div class="col-sm"></div>
  </div>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <a href='retrieve-password' >Nie pamiętasz hasła?</a>
    </div>
    <div class="col-sm"></div>    
  </div>  
</div>