<mat-card >
    <mat-card-title>
        {{diet.name}}
    </mat-card-title>
    <img mat-card-image src="../../../assets/medina-catering-AdtqezIqv7c-unsplash.jpg" width="50" height="300">
    <mat-card-content >
        {{diet.description}}
        <mat-accordion>  
          <mat-expansion-panel> 
          <mat-expansion-panel-header>
              <mat-panel-title>
             Dostępne wersje kaloryczne:
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list role="list" dense *ngFor="let caloricVersion of diet.caloricVersions">
                  <mat-list-item role="listitem">{{caloricVersion}}kcal</mat-list-item>
                </mat-list>
                <p *ngIf="adminView">
                  <mat-form-field class="input" appearance="outline" >
                    <mat-label>Nowa wersja kaloryczna</mat-label>
                    <input matInput  type="number" [(ngModel)]="newCaloricVersion">
                    <span matSuffix>kcal</span>       
                  </mat-form-field> 
                  <button mat-raised-button (click)="addNewCaloricVersion()">Dodaj</button>
                </p>
          </mat-expansion-panel>
        </mat-accordion>      
    </mat-card-content>
    <mat-card-footer>
        Cena za jeden dzień: {{diet.price}}zł
    </mat-card-footer>
    <mat-card-actions>
        <button mat-raised-button *ngIf="adminView" (click)="changeStatus()">{{diet.published ? 'Wycofaj dietę' : 'Publikuj dietę'}}</button>
        <button mat-raised-button *ngIf="adminView && !diet.published" (click)="delete(diet.id)">usuń</button>
       </mat-card-actions>
</mat-card>

<p-confirmDialog header="Potwierdź"></p-confirmDialog>