<mat-card-title><h2>Złóż zamówienie</h2></mat-card-title>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
        <ng-template matStepLabel>Wybierz dietę</ng-template>
        <mat-radio-group [(ngModel)]="chosenDiet" >
        <mat-grid-list cols="5"  rowHeight="2:1" [gutterSize]="'5px'" >
                <mat-grid-tile class="scrollable"
                    *ngFor="let diet of diets"
                    [colspan]="1"
                    [rowspan]="4"
                    [style.background]="white">
                    <mat-card>
                        <mat-card-title>{{diet.name}}  
                               <mat-icon matTooltip="{{diet.description}}" class="icon">info</mat-icon>
                        </mat-card-title>
                        <img  height="200px" width="150px" src="../../../assets/medina-catering-AdtqezIqv7c-unsplash.jpg"/>
                        <mat-card-content>Cena: {{diet.price}}</mat-card-content>
                        <mat-card-actions>
                             <mat-radio-button [value]="diet">
                                 Wybierz
                            </mat-radio-button>
                        </mat-card-actions>
                    </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        </mat-radio-group>   
        <button mat-raised-button matStepperNext>Dalej</button>    
    </mat-step>
    <mat-step>
            <ng-template matStepLabel>Dostosuj</ng-template>
            <table cellspacing="0">
                <tr><h4>Dieta: {{chosenDiet.name}}</h4></tr>
                <tr class="spaceUnder"><td>Wybierz wariant kaloryczny: </td>
                    <td>
                        <mat-radio-group [(ngModel)]="orderToCreate.caloricVersion" >
                            <mat-radio-button *ngFor="let version of chosenDiet.caloricVersions" [value]="version">
                                {{version}}
                            </mat-radio-button>
                        </mat-radio-group> 
                    </td>
                </tr>
                <tr class="spaceUnder">
                    
                    <td>
                        <mat-form-field class="full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Data rozpoczęcia"
                            [(ngModel)]="orderToCreate.startDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </td>
               
                    <td>
                            <mat-form-field class="full-width">
                                    <input matInput [min]="startDate" [matDatepicker]="picker1" placeholder="Data zakończenia"
                                    [(ngModel)]="orderToCreate.endDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <button mat-raised-button matStepperPrevious>Wróć</button>
                    <button mat-raised-button matStepperNext>Dalej</button>
                 </tr>
            </table>
    </mat-step>    
    <mat-step>

            <ng-template matStepLabel>Dane dostawy</ng-template>
            <mat-checkbox [(ngModel)]="deliverToHome" (change)="
            deliverHomeChange()">
                Użyj adresu zamieszkania</mat-checkbox>
        
            <table cellspacing="0" *ngIf="!deliverToHome">  
                <tr>
                    <td colspan="2">
                <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Ulica</mat-label> 
                  <input matInput  required [(ngModel)]="insertedDeliveryAddress.street" 
                   >
                </mat-form-field>
            </td>
            <td colspan="1"> 
                <mat-form-field appearance="outline">
                        <mat-label>Numer domu</mat-label> 
                    <input matInput required 
                    [(ngModel)]="insertedDeliveryAddress.houseNumber" >
                </mat-form-field>
                </td>
            </tr>
            <tr> 
                <td colspan="2"> 
                <mat-form-field appearance="outline">
                        <mat-label>Miasto</mat-label> 
                    <input matInput  required [(ngModel)]="insertedDeliveryAddress.city" 
                     >
                     <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
                </td>
                <td colspan="1">
                <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>Kod pocztowy</mat-label> 
                  <input matInput placeholder="kod pocztowy" required [(ngModel)]="insertedDeliveryAddress.zipCode" 
                >
              </mat-form-field>
              </td>
            </tr>
            </table>
         <div>
                    <button mat-raised-button matStepperPrevious>Wróć</button>
                    <button mat-raised-button matStepperNext>Dalej</button>
</div>
    </mat-step>    
    <mat-step>
        <ng-template matStepLabel>Podsumowanie</ng-template>
        <table>
            <tr class="spaceUnder">
                <h4>{{chosenDiet.name}}</h4>
            </tr>
            <tr class="spaceUnder">
                 Wersja kaloryczna: {{orderToCreate.caloricVersion}}kcal
                </tr>
           <tr class="spaceUnder"> Cena: {{chosenDiet.price}}</tr>
           <tr class="spaceUnder"><td> Data rozpoczęcia: {{orderToCreate.startDate | date:'shortDate'}} </td>
            <td>Data zakończenia: {{orderToCreate.endDate | date:'shortDate'}}</td></tr>
       <tr class="spaceUnder">Adres dostawy:</tr>
       <tr class="spaceUnder">ul. {{orderToCreate.deliveryAddress.street}} {{orderToCreate.deliveryAddress.houseNumber}}</tr>
       <tr class="spaceUnder">{{orderToCreate.deliveryAddress.zipCode}} {{orderToCreate.deliveryAddress.city}}</tr>
        
    <tr class="spaceUnder">
        <mat-checkbox [(ngModel)]="regulations">Oświadczam, że zapoznałem się z regulaminem</mat-checkbox></tr>
    <tr class="spaceUnder">
            <mat-checkbox [(ngModel)]="personalData">Oświadczenie rodo</mat-checkbox>
    </tr>
       <button mat-raised-button matStepperPrevious>Wróć</button>
       <button mat-raised-button (click)="placeOrder()">Wyślij</button>
       <button mat-raised-button (click)="stepper.reset()">Zacznij od nowa</button>
    </table>
    </mat-step>

</mat-horizontal-stepper>    
        
