<mat-card class="card-layout"> 
        <div class="container">
          <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm">
                <h2>Odzyskiwanie hasła</h2>
              </div>
              <div class="col-sm"></div>    
          </div>
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
              <form   class="example-form">
               <h5>Aby odzyskać hasło wprowadź adres email podany przy rejestracji, na który zostanie 
                   wysłana instrukcja z dalszymi krokami. </h5>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" type="email" required [(ngModel)]="email" 
                    name="email">
                </mat-form-field>
              </form>
              <button mat-button (click)="retrievePassword()"> Odzyskaj hasło</button>
            </div>
            <div class="col-sm"></div>
          </div>
        </div>
      </mat-card>
      
      